@font-face {
	font-family: 'PPMondwest';
	src: url('/fonts/ppmondwest-regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	--bg-1: hsl(250, 20%, 88%);
	--bg-2: hsl(250, 15%, 80%);
	--bg-3: hsl(250, 5%, 70%);
	--txt-3: hsl(250, 10%, 30%);
	--txt-2: hsl(250, 10%, 20%);
	--txt-1: hsl(250, 10%, 12%);
	--acc-1: hsl(250, 60%, 70%);
	--acc-2: hsl(250, 40%, 60%);
	--alt-1: hsl(45, 50%, 50%);

	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: var(--txt-1);
	background: var(--bg-1);
	font-family: 'Rethink Sans', sans-serif;
}

a {
	text-decoration: none;
	color: var(--txt-1);
}

button {
	font: inherit;
}

button.text {
	padding: 1rem 1.5rem;
	border: none;
	/* border: 1px solid var(--txt-1); */
	background: hsl(250, 40%, 80%);
	/* transform: translate(-2px, -2px); */
	/* box-shadow: 2px 2px 0px 0px var(--txt-1); */
	border-radius: 3rem;
	cursor: pointer;
}

button.text:hover {
}
