@font-face {
	font-family: 'PPMondwest';
	src: url('/fonts/ppmondwest-regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'PPMondwest', sans-serif;
	margin: 0;
	padding: 0;
}
